{% extends 'layout.html' %} {% block content %}

<!-- Main food item -->
{% for food in target_food %}
<div class="row mt-3 g-4">
    <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
        <img src="{{ food.image_url }}" class="rounded card-img-top" alt="{{ food.title }}" style="height: 500px;" />
    </div>
    <div class="col-xl-8 col-lg-8 col-sm-6 col-xs-12">
        <h4 class="text-success fw-bold">{{ food.title }}</h4>
        <h6 class="text-secondary fw-bold">Directions</h6>
        <ol>
            {% for direction in food.directions.replace('\\', '').split('.')[:-1] %} {% if direction is not none %}
            <li>{{ direction | replace('"', '') | replace('[', '') | replace(']', '') | replace('u00b0', '°') | replace(',', '') }}</li>
            {% endif %} {% endfor %}
        </ol>
        <h6 class="text-secondary fw-bold">Ingredients</h6>
        <ul>
            {% for ingredients in food.ingredients.replace('\\', '').split(',') %}
            <li>{{ ingredients | replace('"', '') | replace('[', '') | replace(']', '') | replace('c.', 'cup(s)') }}</li>
            {% endfor %}
        </ul>
        <!-- <p>{{ food.ingredients.replace('\\', '').replace('"', '').replace('[', '').replace(']', '') }}</p> -->
    </div>
</div>
{% endfor %}

<h5 class="mt-5">You may also like</h5>

<!-- Recommended Food Item -->
<div class="row row-cols-1 row-cols-sx-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mt-1 mb-3">
    {% for food in recommended_food %}
    <div class="col">
        <a href="/{{ food[0].title }}" class="link-offset-2 link-underline link-underline-opacity-0">
            <div class="card border-warning h-100" style="width: 18rem;">
                <img src="{{ food[0].image_url }}" class="card-img-top" alt="{{ food[0].title }}" style="height: 250px;" />
                <div class="card-body">
                    <h5 class="card-text">{{ food[0].title }}</h5>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
